<html>

<head>
    <title>Document</title>
    <link rel="stylesheet" href="./airline.css">
</head>

<body>
    <ul>
        <li>Home</li>
        <li>Features</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
    <h1>Fly High.</h1>
    <h1>Above the Sky.</h1>
    <div class="container shadow">
        <form class="mx-auto m-5 p-5 border bg-light">
            <h2>Sign In</h2>
            <p>Welcome back!Login with your credentials</p>
            <hr>
            <div class="user1 row">
                <label for="name" class="col-sm-3 col-form-label">Username</label>
                <div class="user col-sm-9">
                    <input type="name" name="name" id="name" class="form-control">
                </div>
            </div>
            <div class="pass1 row mb-3">
                <label for="password" class="col-form-label col-sm-3">Password</label>
                <div class="pass col-sm-9">
                    <input type="password" name="password" id="password" class="form-control">
                </div>
            </div>
            <a type="submit" class="btn-lg btn btn-primary" href="http://127.0.0.1:5500/templates/Page2.html?slect+something=choose&slect+something=choose">Signin</a>
            <p>Don't have an account?Sign Up</p>
        </form>
    </div>
</body>

</html>